/* IslandPage.css */
.button-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
  }
  
  .exercise-button {
    padding: 10px 20px;
    border: none;
    background-color: #FFC300; /* Muted color */
    animation: pulse 2s infinite;
  }
  
  .exercise-button:hover {
    background-color: #d8a600; /* Slightly darker on hover */
  }
  
  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(204,169,44, 0.4);
    }
    70% {
        box-shadow: 0 0 0 10px rgba(204,169,44, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(204,169,44, 0);
    }
  }

  /* IslandPage.css */
.visited {
    background-color: #035f03; /* Bright green */
  }

  .visited:hover {
    background-color: #024202; /* Bright green */
  }
  